{% extends 'base.html.twig' %}
{% set active = 'homepage' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!--div class="page-header">
  <h2>plataforma de monitoreo de la mortalidad materna</h2>
</div-->

<p ><b class="brand">las mujeres cuentan</b> es una plataforma de monitoreo de la mortalidad materna en Argentina que tiene como propósito hacer pública la información reportada en las estadísticas oficiales y enriquecerla con otras dimensiones de análisis para hacer visible un problema complejo y a la vez evitable que padecen muchas mujeres de nuestro país.</p>
<p > &nbsp; <br></p>
<p >  </p>
<ul class="nav nav-tabs" id="main-tabs">
  <li class="pull-right"><a href="{{ path("odm") }}">ODM</a></li>
  <li class="pull-right"><a href="{{ path("provincial") }}">Provincia</a></li>
  <li class="active pull-right"><a href="{{ path("homepage") }}">País</a></li>
</ul>

<section id="main-content">
  <div class="row-fluid">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Tip!</strong> Seleccione alguno de los indicadores y elija el año sobre el cual quiere conocer los datos. El mapa mostrará la distribución de la información seleccionada a nivel provincial.
    </div>

    <div class="tabbable tabs-left">
      <ul id="filtros" class="nav nav-tabs">
        <li class="active">
          <a href="#" rel="tooltip" title="Este valor representa la relación entre las muertes maternas en un año  y la cantidad de nacidos vivos, como aproximación al total de embarazos en ese año (por 10 mil). Indica el riesgo de morir por causas maternas.La leyenda aclara los valores de los matices cromáticos del mapa." value="tasa">Tasas de mortalidad materna</a>
        </li>
        <hr />
        <li class="nav-header">Grupo de causas de muerte directas <i href="{{ path("popup", {template: "causas_directas"}) }}" data-target="#popup-directas" data-toggle="modal" style="vertical-align: text-bottom; cursor: pointer;" class="icon-question-sign"></i></li>
        <li>
          <a href="#" title="" value="Aborto_P">
            <span class="badge-custom" style="background-color: #3366cc;"></span> Embarazo terminado en aborto
          </a>
        </li>
        <li>
          <a href="#" title="" value="T_Hipert_P">
            <span class="badge-custom" style="background-color: #dc3912;"></span> Trastornos hipertensivos
          </a>
        </li>
        <li>
          <a href="#" title="" value="T_Placenta_P">
            <span class="badge-custom" style="background-color: #ff9900;"></span> Tarstornos de placenta y hemorragias
          </a>
        </li>
        <li>
          <a href="#" title="" value="Otras_directas_P">
            <span class="badge-custom" style="background-color: #109618;"></span> Otras causas directas
          </a>
        </li>
        <li>
          <a href="#" title="" value="Hemorragia_post_P">
            <span class="badge-custom" style="background-color: #990099;"></span> Hemorragia posparto
          </a>
        </li>
        <li>
          <a href="#" title="" value="Sepsis_y_O_P">
            <span class="badge-custom" style="background-color: #0099c6;"></span> Sepsis
          </a>
        </li>
        <li class="nav-header">Grupo de causas de muerts indirectas <i href="{{ path("popup", {template: "causas_indirectas"}) }}" data-target="#popup-indirectas" data-toggle="modal" style="vertical-align: text-bottom; cursor: pointer;" class="icon-question-sign"></i></li>
        <li>
          <a href="#" title="" value="Enf_por_VIH_P">
            <span class="badge-custom" style="background-color: #dd4477;"></span> Enfermedad por V.I.H.
          </a>
        </li>
        <li>
          <a href="#" title="" value="Otras_ind_P">
            <span class="badge-custom" style="background-color: #66aa00;"></span> Otras causas indirectas
          </a>
        </li>
        <hr />
        <li class="nav-header" rel="tooltip" title="Elija el año sobre el cual quiere conocer los datos.">Año <span class="label label-info pull-right" id="anio">2010</span></li>
        <li class="navbar-text"><div id="slider" class="slider"></div></li>
      </ul>

      <div class="tab-content" style="overflow: hidden;">
        <div class="row-fluid">
          <div class="span5">
            <div id="map-canvas"></div>
          </div>
          <div class="span7">
            <div>
              <p>En el año <span id="anio-leyenda"></span> <span id="cantidad-leyenda"></span> mujeres murieron en la Argentina durante el embarazo, parto o posparto por diversas causas, principalmente por falta de control durante el embarazo, deficiencias en la atención del parto y a complicaciones causadas por el aborto inseguro. La tasa de muerte materna para este año fue de <span id="tasa-leyenda"></span>.</p>
			  <div id="visualization2"></div>
            </div>
            <div>
				<div id="visualization"></div>
            </div>
          </div>
        </div>
		<div class="row-fluid">
				<div id="visualization-tabla"></div>
		</div>
      </div>
    </div>
  </div>
</section>

<div id="popup-directas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="popup-directas-titulo" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="popup-directas-titulo">Grupo de causas de muerte directas</h3>
  </div>
  <div class="modal-body">
    Cargando contenido ...
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="popup-indirectas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="popup-indirectas-titulo" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="popup-indirectas-titulo">Grupo de causas de muerte indirectas</h3>
  </div>
  <div class="modal-body">
    Cargando contenido ...
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<script id="infoWindowTemplateTasa" type="text/x-jquery-tmpl"> 
	<div class='googft-info-window' style='font-family: sans-serif'>
		Provincia: <b>${provincia.value}</b>. </br>
		Tasa de mortalidad materna: <b>${tasa.value}</b> </br>
		Tasa global de fecundidad 2010: <b>${fecundidad.value}</b> </br>
		Proporci&oacute;n de egresos por abortos: <b>${Aborto_P.value}</b> </br>  
		Proporci&oacute;n de nacidos vivos atendidos por personal capacitado: <b>${atendido_per_capac.value}</b> </br>
		<a href='provincial?provincia=${provincia.value}' >Detalle de provincia</a>
	</div>
</script>
<script id="infoWindowTemplateCausa" type="text/x-jquery-tmpl"> 
	<div class='googft-info-window' style='font-family: sans-serif'>
		<b> ${$item.totalCausa}</b>  mujeres que residían en <b>${provincia.value}</b> </br> 
		murieron en el año <b>${anio.value}</b> por <b>${$item.causa}</b>, </br>
		un <b>${$item.porcentajeCausa}</b>% sobre el total de las muertes obstétricas de esta provincia.</br>
		<a href='provincial?provincia=${provincia.value}' >Detalle de provincia</a>
	</div>
</script>

{% endblock %}

{% block css %}
<style type="text/css">
      body { padding-top: 60px; }
	  
	  #map-canvas {
        width: auto;
		height:550px
      }

      #legend {
        background: #FFF;
        margin: 10px;
        padding: 5px;
        width: 120px;
      }

      #legend p {
        font-weight: bold;
        margin-top: 3px;
      }

      #legend div {
        clear: both;
      }

      .color {
        height: 12px;
        width: 12px;
        margin-right: 3px;
        float: left;
        display: block;
      }

      .high {
        color: #F00;
      }

      .medium {
        color: #0F0;
      }

      .low {
        color: #00F;
      }

      .high, .medium, .low {
        font-weight: bold;
     }
      
       .brand { 
        font-weight:600;
        color:#056B74;
        font-family:  verdana, sans-serif;
      }
   
    </style>
{% endblock %}

{% block js %}
<script type="text/javascript">
		google.load('visualization', '1', { packages: ['corechart'] });
		
		var LAYER_STYLES = {
			'tasa': {'min': 0, 'max': 18, 'colors': ['#f4cccc','#ea9999','#e06666','#cc0000','#990000']},		
			'Aborto_P': {'min': 0, 'max': 100, 'colors': ['#8181F7', '#2E2EFE', '#0101DF', '#08088A', '#0B0B3B']},
			'T_Hipert_P': {'min': 0, 'max': 100, 'colors': ['#F6CECE', '#F78181', '#FE2E2E', '#DF0101', '#8A0808']},
			'T_Placenta_P': {'min': 0, 'max': 100, 'colors': ['#F2F5A9', '#F4FA58', '#FFFF00', '#D7DF01', '#868A08']},
			'Otras_directas_P': {'min': 0, 'max': 100, 'colors': ['#81F781', '#58FA58', '#01DF01', '#088A08', '#0B3B0B']},
			'Hemorragia_post_P': {'min': 0, 'max': 100, 'colors': ['#F5A9E1', '#FA58D0', '#FF00BF', '#B40486', '#610B4B']},
			'Sepsis_y_O_P': {'min': 0, 'max': 100, 'colors': ['#A9F5F2', '#58FAF4', '#00FFFF', '#04B4AE', '#0B615E']},
			'Enf_por_VIH_P': {'min': 0, 'max': 100, 'colors': ['#F6CEF5', '#F5A9F2', '#FA58F4', '#FF00FF', '#B404AE']},
			'Otras_ind_P': {'min': 0, 'max': 100, 'colors': ['#D0F5A9', '#ACFA58', '#80FF00', '#5FB404', '#38610B']}
		}
		
		var causasValue = ["tasa", "Aborto_P", "T_Hipert_P", "T_Placenta_P", "Otras_directas_P", "Hemorragia_post_P", "Sepsis_y_O_P", "Enf_por_VIH_P", "Otras_ind_P" ];
		var causasText = ["Tasa", "Embarazo terminado en aborto", "Trastornos hipertensivos", "Trastornos de placenta y hemorragias", "Otras causas directas", "Hemorragia postparto", "Sepsis", "Enfermedad por V.I.H.", "Otras causas indirectas"];
		var anioValue = [2006, 2007, 2008, 2009, 2010];
		var anioCantidad = ["333", "306", "296", "410", "331"];
		var anioTasa = ["4.8", "4.4", "4.0", "5.5", "4.4"];
				
		var layer = null;
		var type = null;
		function initialize() {
			var anio = '2010';
			type = 'tasa'
			var map = new google.maps.Map(document.getElementById('map-canvas'), {
				center: new google.maps.LatLng(-38.416097, -63.616672),
				zoom: 4,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.SMALL
				},
			});
		
		$( "#anio" ).text( "2010" );
		
		$( "#slider" ).slider({
			value:2010,
			min: 2006,
			max: 2010,
			step: 1,
			slide: function( event, ui ) {
				$( "#anio" ).text( ui.value );
				anio = ui.value;											
				if (type == "tasa"){
					updateLayerQuery(layer, anio);
					styleLayerBySector(layer, type);
					drawVisualizationTablaTasa(anio);
				}else{
					updateLayerQuery(layer, anio);
					styleLayerBySector(layer, type);
					drawVisualizationCausas(anio)
					drawVisualizationTabla(anio)						
				}
				refreshLeyenda(anio);				
			}
		});
			
		$("#filtros li a").click(function(e){
			e.preventDefault();
			$(this).tab('show');
			type = this.attributes["value"].nodeValue;
			if (type == "tasa"){
				updateLayerQuery(layer, anio);
				styleLayerBySector(layer, type);
				updateLegend(type);
				//drawVisualizationTablaTasa(anio);
				$("#visualization").empty();	
				drawVisualizationTasasProvincias();
				$("#visualization2").empty();					
			}else{
				updateLayerQuery(layer, anio);
				styleLayerBySector(layer, type);
				updateLegend(type);
				drawVisualizationCausas(anio);
				drawVisualizationCausasTotales();
				drawVisualizationTabla(anio);
			}
		});

		$('ul#filtros').tooltip({
		  selector: "[rel=tooltip]",
		  placement: "right",
		})

        layer = new google.maps.FusionTablesLayer();
        updateLayerQuery(layer, anio);
        layer.setMap(map);

        createLegend(map, type);
        styleLayerBySector(layer, type);
        styleMap(map);
		drawVisualizationTasasProvincias();
		drawVisualizationTablaTasa(anio);
		
		refreshLeyenda(2010);
		
		google.maps.event.addListener(layer, 'click', function(e) {
			if (type == "tasa"){
				e.infoWindowHtml = $('#infoWindowTemplateTasa').tmpl(e.row).get(0).outerHTML;
			}else{
				e.infoWindowHtml = $('#infoWindowTemplateCausa').tmpl(e.row, { 
																				causa: causasText[jQuery.inArray(type, causasValue)],
																				porcentajeCausa: e.row[type].value,
																				totalCausa: e.row[(type.replace("_P", ""))].value
																			}).get(0).outerHTML;
			}
		});
      }
	  
	function refreshLeyenda(anio){
		$("#anio-leyenda")[0].textContent = anio;
		$("#cantidad-leyenda")[0].textContent = anioCantidad[jQuery.inArray(anio, anioValue)];
		$("#tasa-leyenda")[0].textContent = anioTasa[jQuery.inArray(anio, anioValue)];
	}	  
	  
	function updateLayerQuery(layer, anio) {			
		var where = "";		
		if (anio) {
			where += " anio = '" + anio + "'";
		}
		
		layer.setOptions({
		  query: {
			select: 'geometry',
			from: '1fW45Do4UhU9wknq2B57vOVza9VBi5HL4kiY58jM',
			where: where
		  }
		});
	}
	  

      function createLegend(map, type) {
        var legendWrapper = document.createElement('div');
        legendWrapper.id = 'legendWrapper';
        legendWrapper.index = 1;
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
            legendWrapper);
        legendContent(legendWrapper, type);
      }
	  
	  function updateLegend(type) {
		var legendWrapper = $("#legendWrapper");
		legendWrapper.empty();
        legendContent(legendWrapper, type);
      }

      function legendContent(legendWrapper, type) {
	    var sector = type;
        var legend = document.createElement('div');
        legend.id = 'legend';

        var title = document.createElement('p');
        title.innerHTML = causasText[jQuery.inArray(sector, causasValue)];
        legend.appendChild(title);

        var layerStyle = LAYER_STYLES[sector];
        var colors = layerStyle.colors;
        var minNum = layerStyle.min;
        var maxNum = layerStyle.max;
        var step = (maxNum - minNum) / colors.length;
        for (var i = 0; i < colors.length; i++) {
          var legendItem = document.createElement('div');

          var color = document.createElement('div');
          color.setAttribute('class', 'color');
          color.style.backgroundColor = colors[i];
          legendItem.appendChild(color);

          var newMin = minNum + step * i;
          var newMax = newMin + step;
          var minMax = document.createElement('span');
          minMax.innerHTML = newMin + ' - ' + newMax;
          legendItem.appendChild(minMax);

          legend.appendChild(legendItem);
        }

        legendWrapper.appendChild(legend);
      }

      function updateLegend(sector) {
        var legendWrapper = document.getElementById('legendWrapper');
        var legend = document.getElementById('legend');
        legendWrapper.removeChild(legend);
        legendContent(legendWrapper, sector);
      }

      function styleLayerBySector(layer, type) {
        var layerStyle = LAYER_STYLES[type];
        var colors = layerStyle.colors;
        var minNum = layerStyle.min;
        var maxNum = layerStyle.max;
        var step = (maxNum - minNum) / colors.length;
		
		var styles = new Array();
		styles.push({
            polygonOptions: {
              fillColor: colors[0],
              fillOpacity: 1
            }
		});
        for (var i = 0; i < colors.length; i++) {
          var newMin = minNum + step * i;
          styles.push({
            where: generateWhere(newMin, type),
            polygonOptions: {
              fillColor: colors[i],
              fillOpacity: 1
            }
          });
        }
        layer.set('styles', styles);
      }

      function generateWhere(minNum, column) {
        var whereClause = new Array();
        whereClause.push("'");
		whereClause.push(column);
        whereClause.push("' >= ");
        whereClause.push(minNum);
        return whereClause.join('');
      }

      function styleMap(map) {
        var style = [{
          featureType: 'all',
          stylers: [{
            saturation: -99
          }]
        }, {
          featureType: 'poi',
          stylers: [{
            visibility: 'off'
          }]
        }, {
          featureType: 'road',
          stylers: [{
            visibility: 'off'
          }]
        }];

        var styledMapType = new google.maps.StyledMapType(style, {
          map: map,
          name: 'Styled Map'
        });
        map.mapTypes.set('map-style', styledMapType);
        map.setMapTypeId('map-style');
      }
	  
		function drawVisualizationTasasProvincias(){			
			var data = google.visualization.arrayToDataTable([
			  ['Año', 'Tasa'],
			  [2006,  4.8],
			  [2007,  4.4],
			  [2008,  4.0],
			  [2009,  5.5],
			  [2010,  4.4]			
			]);

			var options = {
				title: 'Evolución de la tasa de muerte materna país 2006-2010',			
				height: 400,
				width: 500,
				vAxis: { minValue: 3, baseline: 3, gridlines :{color: '#BBB', count: 7}},
				hAxis: { gridlines :{color: '#DDD', count: 5}, format:'####'},
				legend: { position: "none" },
				series: [{color: '#cc0000', pointSize:6}]
			};
			
			var chart = new google.visualization.LineChart(document.getElementById('visualization'));
			chart.draw(data, options);
		}
	  
	  function drawVisualizationCausas(anio) {
        google.visualization.drawChart({
          containerId: "visualization",
          dataSourceUrl: "http://www.google.com/fusiontables/gvizdata?tq=",
          query: "SELECT 'provincia', 'Aborto' as 'Embarazo terminado en aborto', 'T_Hipert' as 'Trastornos hipertensivos', 'T_Placenta' as 'Trastornos de placenta y hemorragias', 'Otras_directas' as 'Otras causas directas', 'Hemorragia_post'  as 'Hemorragia postparto', 'Sepsis_y_O' as 'Sepsis', 'Enf_por_VIH' as 'Enfermedad por V.I.H.', 'Otras_ind' as 'Otras causas indirectas' " +
              "FROM 1hCiTDcyuaZaqzQ11roxhvvL8cmVdZZxoLnTXQS4 WHERE anio = '" + anio + "' and provincia = 'total'",
          chartType: "ColumnChart",
          options: {
            title: "Causas " + anio,
            height: 250,
            width: "auto",
			chartArea:{left:30,top:20,width:"60%",height:"80%"},
			animation:{
				duration: 10000,
				easing: 'linear'
			}	
          }
        });
      }
	  
	  function drawVisualizationCausasTotales(){
		google.visualization.drawChart({
          containerId: "visualization2",
          dataSourceUrl: "http://www.google.com/fusiontables/gvizdata?tq=",
          query: "SELECT 'anio', 'Otras_ind_Tasa' as 'Otras causas indirectas', 'Enf_por_VIH_Tasa' as 'Enfermedad por V.I.H.', 'Sepsis_y_O_Tasa' as 'Sepsis', 'Hemorragia_post_Tasa' as 'Hemorragia postparto', 'Otras_directas_Tasa' as 'Otras causas directas', 'T_Placenta_Tasa' as 'Trastornos de placenta y hemorragias', 'T_Hipert_Tasa' as 'Trastornos hipertensivos', 'Aborto_Tasa' as 'Embarazo terminado en aborto' " +
              "FROM 1yWn2m1dowQz_sZp5FNToomwJtGWIOJHvS4Bq7gc WHERE provincia = 'total' ORDER BY 'anio'",
          chartType: "AreaChart",
          options: {
            title: "Evolución de tasas de muerte materna por causa 2006-2010",
            height: 400,
            width: "auto",
			hAxis: { format:'####'},
			chartArea:{left:30,top:20,width:"60%",height:"80%"},
			isStacked:true,
			colors: ['#66aa00','#dd4477','#0099c6','#990099','#109618','#ff9900','#dc3912','#3366cc'],
			animation:{
				duration: 10000,
				easing: 'linear'
			}	
          }
        });
	  } 
	 
	  function drawVisualizationTabla(anio) {
        google.visualization.drawChart({
          containerId: "visualization-tabla",
          dataSourceUrl: "http://www.google.com/fusiontables/gvizdata?tq=",
          query: "SELECT 'provincia', 'Aborto','T_Hipert','T_Placenta','Otras_directas','Hemorragia_post', 'Sepsis_y_O', 'Enf_por_VIH', 'Otras_ind' " +
              "FROM 1hCiTDcyuaZaqzQ11roxhvvL8cmVdZZxoLnTXQS4 WHERE anio = '" + anio + "'",
          chartType: "Table",
          options: {
            title: "Causas " + anio,
            height: 400,
            width: "100%"
          }
        });
      }
	  
	  function drawVisualizationTablaTasa(anio) {
        google.visualization.drawChart({
          containerId: "visualization-tabla",
          dataSourceUrl: "http://www.google.com/fusiontables/gvizdata?tq=",
          query: "SELECT 'provincia', '" + anio + "' " +
              "FROM 1X9szNNMS5MKGEgnUUjb7XRT4ZXci77WsJAIzAIQ",
          chartType: "Table",
          options: {
            title: "Tasas " + anio,
            height: 400,
            width: "100%"
          }
        });
      }
	  
	  function drawVisualization(provincia) {
        google.visualization.drawChart({
          containerId: "visualization-tabla",
          dataSourceUrl: "http://www.google.com/fusiontables/gvizdata?tq=",
          query: "SELECT provincia,'2006','2007','2008','2009','2010' " +
              "FROM 1X9szNNMS5MKGEgnUUjb7XRT4ZXci77WsJAIzAIQ WHERE provincia = '" + provincia + "'",
          chartType: "ColumnChart",
          options: {
            title: "Causas" + provincia,
            height: 400,
            width: auto
          }
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}